:root {
  --d8-theming: .2em;
}

.fa {
  position: relative;
  top: calc(-2 * var(--d8-theming));
  padding-left: var(--d8-theming);
  font-size: calc(4 * var(--d8-theming));
}

em .fa {
  padding-left: calc(3 * var(--d8-theming) / 2);
}
