<div class="checkbox">
  <label for="dark-mode-switch" class="control-label">
    <input type="checkbox" id="dark-mode-switch" />
    <span class="checkbox-label">{{ 'Dark Mode'|t }}</span>
  </label>
</div>
