@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.dialog-off-canvas-main-canvas {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 7fr 1fr 2fr;
  height: 100vh;

  section {
    display: grid;
  }

  .top {
    background: red;
    grid-template-columns: repeat(7, 1fr);
  }

  .middle {
    background: blue;
    grid-template-columns: repeat(7, 1fr);
  }

  .bottom {
    background: purple;
    grid-template-columns: repeat(6, 1fr)
  }

  .grid-over {
    height: 100vh;
    position: absolute;
    place-items: center;

    .message-container {
      width: 100vw;
      grid-template-areas:
        "... ... ..."
        "... ... ..."
        "... ... ..."
        "... ... ..."
        ". message .";
      justify-items: center;
      padding: 0;

      .message {
        grid-area: message;
        color: white;
        font-size: 2rem;
        font-family: 'Press Start 2P', cursive;
        background: black;
        margin: 0;
        padding: 1rem 7rem;
      }
    }
  }
}
