{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 * @see https://codepen.io/mjhea0/pen/LoMVNm
 */
#}
<section class="top">
  <section class="shell"></section>
  <section class="yellow"></section>
  <section class="light-blue"></section>
  <section class="green"></section>
  <section class="purple"></section>
  <section class="red"></section>
  <section class="blue"></section>
</section>

<section class="middle">
  <section class="blue"></section>
  <section class="black"></section>
  <section class="purple"></section>
  <section class="black"></section>
  <section class="blue"></section>
  <section class="black"></section>
  <section class="white"></section>
</section>

<section class="bottom">
  <section class="dark-blue"></section>
  <section class="white"></section>
  <section class="blue"></section>
  <section class="black"></section>
  <section class="black"></section>
  <section class="dark-blue"></section>
</section>

<section class="grid-over">
  <section class="message-container">
    <p class="message">{{ title }}</p>
  </section>
</section>
